name: Selenium CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Verify Chrome
        run: google-chrome --version

      - name: Build project
        working-directory: SeleniumFrameworkDesign
        run: mvn clean compile

      - name: Run Selenium Tests
        working-directory: SeleniumFrameworkDesign
        run: mvn test

      - name: Upload Extent Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: extent-report
          path: reports/
